.git
.gitignore
.vscode
.idea

.venv
**/.venv
venv
**/venv
env
**/env

.env
.env.*

node_modules
**/node_modules
frontend/dist

__pycache__
**/__pycache__
*.pyc
.pytest_cache
.hypothesis
coverage
htmlcov
.nyc_output

backend/logs
backend/tests
backend/tests/results

backend/data/train
backend/data/val
backend/data/test

./backend/.venv
./frontend/dist
./frontend/node_modules
backend/.venv
frontend/node_modules
frontend/dist