torch==2.5.1
torchvision==0.20.1
numpy==2.4.1
scipy==1.17.0
matplotlib==3.10.8
seaborn==0.13.2
scikit-learn==1.8.0
tqdm==4.67.3
pillow==12.0.0
pennylane==0.44.1
pennylane_lightning==0.44.0
pennylane_lightning_gpu==0.44.0
fastapi==0.128.0
pydantic==2.12.5
slowapi==0.1.9
fastapi-mail==1.6.2
python-dotenv==1.2.1
python-multipart==0.0.21
aiosmtplib==5.1.0                
uvicorn==0.40.0
uvloop==0.22.1           
starlette==0.50.0        
httptools==0.7.1                 
watchfiles==1.1.1                
websockets==16.0                 
granian==1.6.2
pytest==8.3.4
hypothesis==6.122.1
playwright==1.50.0
pytest-playwright==0.5.2
locust==2.32.5